<h5>Consulta de Clientes</h5>
<p>
    Listagem de clientes cadastrados no sistema.
</p>

<table class="table table-hover table-striped">

    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Operações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of listagemClientes">
            <td>{{item.nome}}</td>
            <td>{{item.email}}</td>
            <td>{{item.cpf}}</td>
            <td>
                <button class="btn btn-primary btn-sm" 
                    data-bs-target="#janela_edicao" 
                    data-bs-toggle="modal"
                    (click)="obterCliente(item.idCliente)">
                    Editar
                </button>
                &nbsp;
                <button class="btn btn-danger btn-sm" 
                    data-bs-target="#janela_exclusao" 
                    data-bs-toggle="modal"
                    (click)="obterCliente(item.idCliente)">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">
                Quantidade de clientes: {{listagemClientes.length}}
            </td>
        </tr>
    </tfoot>

</table>

<!-- Modal Edição-->

<div id="janela_edicao" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="text-white">Editar Cliente</h5>
            </div>
            <div class="modal-body">

                <p>
                    Utilize o formulário abaixo para editar 
                    os dados do cliente.
                </p>

                <form #formEdicao="ngForm" autocomplete="off">
                    <input type="hidden" 
                    name="idCliente"
                     [(ngModel)]="cliente.idCliente"/>

                    <label>Nome do Cliente:</label>
                    <input type="text" class="form-control"
                        name="nome" [(ngModel)]="cliente.nome" 
                           placeholder="Ex: João da Silva" />
                    <br />

                    <label>Endereço de Email:</label>
                    <input type="text" class="form-control" 
                        name="email" [(ngModel)]="cliente.email"
                        readonly
                           placeholder="Ex: joaodasilva@gmail.com" />
                    <br />

                    <label>CPF (Somente números):</label>
                    <input type="text" class="form-control"
                        name="cpf" [(ngModel)]="cliente.cpf"
                        readonly 
                           placeholder="Ex: 12345678900" />
                    <br />

                    <input type="submit" class="btn btn-success" 
                           value="Salvar Alterações" />
                    &nbsp;
                    <button class="btn btn-light" 
                            data-bs-dismiss="modal"
                            (click)="atualizarCliente(cliente.nome)">
                        Fechar Janela
                    </button>

                    <br/>
                    <br/>

                    {{mensagem_edicao}}
                </form>

               


            </div>
        </div>
    </div>
</div>

<!--Modal Exclusão-->

<div id="janela_exclusao" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="text-white">Excluir Cliente</h5>
            </div>
            <div class="modal-body">

                <p>
                    Deseja realmente excluir o cliente selecionado?
                </p>

                <hr/>
                
                <div>
                    <label>Nome do Cliente: 
                        <strong>{{cliente.nome}}</strong>
                    </label>
                </div>
                <div>
                    <label>Endereço de Email: 
                        <strong>{{cliente.email}}</strong>
                    </label>
                </div>
                <div>
                    <label>CPF: 
                        <strong>{{cliente.cpf}}</strong>
                    </label>
                </div>

                <hr/>

                <button class="btn btn-danger"
                (click)="excluirCliente(cliente.idCliente)">
                    Confirmar Exclusão
                </button>
                &nbsp;
                <button class="btn btn-light" data-bs-dismiss="modal">
                    Fechar Janela
                </button>

                <br/>
                <br/>

                <strong>{{mensagem_exclusao}}</strong>

            </div>

        </div>

    </div>

</div>
