<div class="container mt-4">

  <div class="row">
    <div class="col-md-6">
      <h3>Sistema de Controle de Clientes</h3>
      <p>
        Projeto desenvolvido em Angular integrado com API JAVA.
      </p>
    </div>
    <div class="col-md-6 text-end">

    <a routerLink="cadastro-clientes" 
         class="btn btn-dark">
        Cadastrar Clientes
      </a>
      &nbsp;
    <a routerLink="consulta-clientes" 
         class="btn btn-dark">
        Consultar Clientes
      </a>

    </div>
  </div>

  <hr/>

 <router-outlet></router-outlet>

</div>
